* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
header {
    background-color: #2029AD;
    height: 100px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 375px;
}
header a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}
header a:hover {
    text-decoration: underline;
}
header div div {
    display: flex;
    align-items: center;
}
#headerBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
}
#boxUser{
    display: flex;
    align-items: center;
    padding: 0;
}
@media (max-width: 768px) {
    #boxUser p {
        display: none;
    }
}

